.hero_container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;

 
}


.hero_text {
  font-size: clamp(1rem, 1.2rem, 1.4rem);
font-size: 1.2rem;
text-align: left;

width:auto;
flex-wrap: wrap;
  margin-right:1rem;
  font-family: "Open Sans", sans-serif;
}
.hero_container video {
  position: absolute;
  z-index: 1;
 filter:blur(2px);
  width: 100%;
  object-fit: cover;
  height: 100vh;
  background-attachment: fixed;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    );
  background-position: center;
  background-size: cover;
  opacity:60%;
}
.content {
  height: calc(100vh-80px);
  max-height: 100%;
  z-index:10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align:left;
}
.content_items {
  display: flex;
  width: clamp(100%, 650px, 100%);
  flex-direction: column;
  height: 80vh;
  /*height is reason for picture movement */
  justify-content: center;
  margin-left: 50px;
  margin-top: 100px;
  align-items: flex-start;
  padding: 1rem 3rem;

  color: white;
}
@media (max-width: 750px) {
  .content_items {
    width: 100%;
  }
  
.hero_text {
  font-size: clamp(1rem, 1.2rem, 1.4rem);
font-size: 1.2rem;
text-align: left;


flex-wrap: wrap;
  
  font-family: "Open Sans", sans-serif;
}
}



.navHead {
  font-size: clamp(1rem, 3rem, 5rem);
  margin-bottom: 2rem;
  letter-spacing: 3px;
  line-height: 1;
}

.btn {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  border: solid 5px rgba(59, 155, 179, 0.993);
  color: white;
  transition: 0.2s ease-in-out;
  margin-bottom: 10px;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgba(59, 155, 179, 0.993);
  cursor: pointer;
  transform: scale(1.05);
  color:white;
}